
$dark: #000 !important;
$darker: rgb(32, 4, 83) !important;
$dark-medium: rgb(66, 6, 122) !important;
$dark-low: #666 !important;
$light-low: #999 !important;
$light-medium: #ddd !important;
$ligther: #ddd !important;
$light: rgb(0, 0, 0) !important;


$featured: #fd5cad !important;
$featured-dark: #df1c7d !important;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --ligther: #{$ligther};
  --light: #{$light};
  --featured: #{$featured};
  --featured-dark: #{$featured-dark};
}
